apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          ports:
            - containerPort: 8000
          livenessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: BACKEND_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: general-config
                  key: BACKEND_HOSTNAME
            - name: BACKEND_PORT
              value: "5000"
            - name: APP_HOST
              valueFrom:
                configMapKeyRef:
                  name: general-config
                  key: FRONTEND_APP_HOST
            - name: APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: general-config
                  key: FRONTEND_APP_PORT

            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: SECRET_KEY

